<table class="main">
  <tr>
    <td class="section">
      <p>Width: <input #width value="10"/></p>
      <p>Height: <input #height value="7"/></p>
      <p>Mines: <input #mines value="5"/></p>
      <p>
        <button *ngIf="!isPlaying()" (click)="create(width.value, height.value, mines.value);">Create board</button>
      </p>
      <p>
        <button *ngIf="isPlaying()" (click)="pause();">Pause</button>
        <button *ngIf="isPaused()" (click)="resume();">Resume</button>
      </p>
      <p>Boards: <button (click)="updateBoardList();">Refresh</button></p>
      <p *ngFor="let board of boards">{{board.creationMoment}} ({{board.state}})
        <span *ngIf="!isCurrentBoard(board.id)">
          <button (click)="delete(board.id);">Delete</button>
          <button *ngIf="isPausedState(board.state)" (click)="switch(board.id);">Resume</button>
        </span>
      </p>
    </td>
    <td *ngIf="isVisible()" class="section">
      <img src=" assets/{{boardState.toLowerCase()}}.png"/> {{formattedPlayingTime}}
      <div *ngFor="let cellRow of cells; let row = index" class="boardItem">
        <div *ngFor="let cell of cellRow; let column = index"
             (click)="clickCell(cell, column, row);"
             (contextmenu)="rightClick(cell, column, row); false"
             class="cellText"
             style="background-image:url(assets/{{cellAsset(cell)}}.png);color:{{cellColor(cell)}}">{{cellNumber(cell)}}
        </div>
      </div>
    </td>
  </tr>
</table>
